#home{
    width: 100%;
    min-height: 100%;
    display: inline-block;
}

#discover{
    width: 100%;
    display: inline-block;
    height: 
}


#home{
    background-image: url("page1f.jpg");
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* - -- - - ----------------------------------------------------------------------------- */
.page h2{
    color: rgb(151,207,47,0.9);
    font-weight: 300;
  }
  
.button 
{
    background-color:rgba(151, 207, 50, 0.849);
    opacity: 0.7;
    border: none;
    color: green;
    font-weight:300;
    letter-spacing: 1px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
  
.navbar {
  height: 65px;
}

.container-s {
  max-width: 98%;
  margin: 0 auto;
}
img .qw
{
  position: relative;
  left: 500px;
  top:40px;
}
.menu-nav {
  float: right;
  padding-left: 585px;
  margin-top: 30px;
  
}

.menu-nav li {
  list-style: none;
  display: inline-block;
}

.menu-nav li a 
{
  padding: 20px 30px;
  color: rgba(165, 223, 98, 0.849);
  float: left;
  text-decoration: none;
  font-weight: 300;
  font-size: 25px;
  z-index: 1;
  transition: color .3s ease-in-out;
}

.menu-nav li a:hover {
  color:greenyellow;
  transition: color .5s ease-in-out;
}
@media only screen and (max-width: 600px){
  #navbar{
    width: 50%;
  }
  .qw{
    width: 100%;
  }
  #rightn{
      width: 50%;
  }
}
@media only screen and (max-width: 320px){
  #navbar{
    width: 100%;
    font-size: 10px;
  }
  #imgn{
    width: 100%;

  }
  #rightn{
    width: 50%;
  }
}
#pg2
{
  height: 49.7vh;
  width: 100%;
}
.container2 {
  background-image: url(page2f.jpg);
  min-height: 360px;
  width: 100%;
  margin-right: -20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.part-2 h2{
  color: rgba(151, 207, 50, 0.849);
  margin-top: 0px;

}
.part-2 p{
  color:rgb(255,255,255);
  margin-top: 0px;
  text-align: left;
  font-size: 17px;
}
  
 /* - -- - - ----------------------------------------------------------------------------- */
/* - -- - - ----------------------------------------------------------------------------- */
.p4 
{
  width: 100%;
  position: relative;
  height: auto;
  background-color: rgba(151, 207, 50);
}
.p4 .col {
  width: 200px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.p4 .col h1 {
    margin: 0;
    padding: 0;
    font-family: 'papyrus';
    font-weight:800;
    font-size: 19px;
    line-height: 17px;
    padding-top: 20px;
    color:white;
   
}
.p4 .col p {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 19px;
  line-height: 17px;
  padding-top: 20px;
  
  color:white;
  
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 950px) {
  .p4 .col {
    width: 33%;
  }
  .p4 .col h1 {
    font-size: 14px;
  } 
}
/* - -- - - ----------------------------------------------------------------------------- */
/* - -- - - ----------------------------------------------------------------------------- */

.discover
{
    background-image:url(img10.jpg);
    width:100%;
    margin:0;
    padding:0;
    height:115vh;
    background-size:cover;
    z-index:0;
}

.part1
{   
    top:0px;
    left:0px;
    z-index:1;
    background-color:rgba(151, 207, 50);
    width:100%;
    height:30vh;
    transform: translateY(-2px);
    padding-top: 10px;
    padding-bottom: 10px;
}

.part1 h2{
    text-align:center;
    color:  green;

    margin-top:40px;
    font-family:'papyrus';
    font-weight:bolder;
    font-size:2.5em;
}

.part2
{
    
    bottom:0;
    left:0;
    z-index:1;
    background-color:rgba(151, 207, 50);
    width:100%;
    height:63.5vh;
    margin-bottom:0px;
    padding-bottom:0px;
}

.part1 p
{
    color:white;
    font-size:18px;
    text-align:center;
}
.part2 h1{
    text-align:center;
    color:white;
    font-weight:lighter;
    font-size:2em;
   position:relative;
   top:-40px;

}

.part2 h3{
    font-weight:bolder;
    font-size:2.5em;
    color:white;
    font-family:'papyrus';
    text-align:center;
    padding-top: 20px;

}

.leftd , .rightd
{
    display:inline-block;
    width:44%;
    position:relative;
    top:-40px;
    padding-top: 10px;
}

.leftd  ul li
{
    color:white;
    padding:2px 10px 7px 2px;
    font-size:15px;
    list-style: none;
}
.rightd  ul li
{
    color:white;
    padding:2px 2px 7px 2px;
    font-size:15px;
    list-style: none;
}

/* - -- - - ----------------------------------------------------------------------------- */

/*-----------------------------------------------------------------------------------------*/



#pic1
{
    min-height: 50vh;
    width:100%;
    background-image:url(img17.jpg);
    background-repeat:no-repeat;
    background-size:cover;  
}

/* - -- - - ----------------------------------------------------------------------------- */

#book 
{ 
  min-height: 90%;
  display: inline-block;
  width: 100%;	  
} 

#book 
{ 
	background-color:#333333; 
	font-size: 1rem; 
    font-family: 'Lato';
    display:flex;
    justify-content: center;
    align-items: center;
    height: 68vh;   
} 

#book h1
{ 
    font-size: 3em;
    color: whitesmoke; 
    font-weight: 8000; 
    margin-bottom: 0.5em; 
    margin-top: 0; 
    text-align:center; 
    font-family:'papyrus'; 
}
#book p 
{ 
    font-size: 1em; 
    color: whitesmoke; 
    margin-bottom: 5px;
     margin-top: 0; 
}
.container1 { 
	max-width: 900px; 
	height: 100%;
	margin: 0 auto; 
	padding: 1em;
}

form > div {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
}

form > div > p 
{
	min-width: 33.33%;
	padding: 10px ;
}

form > div 
{ 
    margin-bottom: 1em; 
}

input,
select
{
	color: inherit;
	font: inherit;
	margin: 0;
	margin-top: 0.5em;
	font-size:30px;
}
label {
	display: block;
	margin: 0.75em 0;
    font-weight: bold;
    text-align:left;
    font-size:18px;
    color: white;
}
::placeholder
{ 
    color:white; 
}

input[type=text],
input[type=email],
input[type=date],
input[type=time],
input[type=number],
input[type=tel],
input[type=submit],
select
 {
	
	box-shadow : inset 0 1px 3px #333333;
    border-radius : 2px;
    color: white;
	vertical-align: middle;
	box-sizing: border-box;
	max-width: 100%;
	padding: 0.5em 0.6em;
	margin-bottom: 0.5em;
	 
 }
input[type="date"],
input[type="time"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="text"],
input[type="tel"],
input[type="submit"],
select
{
	display: inline-block;
	padding: 8px 12px;
	color: white;
	font-family:'papyrus';
	font-size:18px;
	background-color: #333333;
	border: 1px solid white;
	border-radius:10px;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
/*book here*/

/* - -- - - ----------------------------------------------------------------------------- */

/*bg2*/
#pic2
{
  height:60vh;
  width:100%;
  background-image:url(bg2.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}
/*bg2*/

/* - -- - - ----------------------------------------------------------------------------- */

#menu
{  
    background:rgba(151, 207, 50,0.9);
    display:inline-block;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 100%; 
}

.text
{
    font-family: 'Yellowtail', cursive;
    font-size: 3rem; 
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 0;
}

.container{
    padding: 0;
    text-align: center;
    padding-top: 30px;

}

.card-text, .card-title, .read-tag{
    text-align: left;
    padding: 0;
}

.card{
    border: 0 !important;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
.card-body, .card-title
{
    background: white;
}
/*menu page*/

/* - -- - - ----------------------------------------------------------------------------- */

/*lastpage*/
#join{
  text-align:center;
  background-color:rgb(48, 38, 38);
  width:100%;
  height:50vh;
  font-family:Georgia;
  padding-top:50px;
  padding-bottom:75px;
}
.socialbtns, .socialbtns ul, .socialbtns li{
margin: 0;
padding: 10px;
}

.socialbtns li {
  list-style: none outside none;
  display: inline-block;
}

.socialbtns li a:hover {
  text-decoration: none;
}
.socialbtns .fa {
width: 40px;
  height: 40px;
color: black;
background-color: white;
padding-top: 12px;
border-radius: 50%;
}
/*lastpage*/

/* - -- - - ----------------------------------------------------------------------------- */


/*footer*/
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color:rgba(151, 207, 50,0.9);
}
.footer .col {
  width: 230px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 150px;

}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 14px;
  font-family: cursive;
  font-weight: 700;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  margin-left: 150px;
}

.footer .col ul li:hover {
  color:#333333;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
.contain {
  width: 1200px;
  margin: 0 auto;
}
}

@media only screen and (max-width: 950px) {
.footer .col {
  width: 33%;
}
.footer .col h1 {
  font-size: 14px;
}
.footer .col ul li {
  font-size: 13px;
}
}
@media only screen and (max-width: 500px) {
  .footer .col {
  width: 50%;
  }
  .footer .col h1 {
  font-size: 14px;
  }
  .footer .col ul li {
  font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
.footer .col {
  width: 100%;
}
}
/*footer*/